<%= form_for(@tool_listing) do |f| %>
  <% if @tool_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool_listing.errors.count, "error") %> prohibited this tool_listing from being saved:</h2>

      <ul>
      <% @tool_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
