

<!--<h1>A Greeting for You! If you see me, I am alive!</h1>-->

<form role="form" style="text-align: center;">
    <label><h1>NEED A HAND</h1></label>
    <br>
    <div class="col-xs-5">
    <label>IF YOU NEED HELP BUILDING YOUR DECK, CREATING A POWER POINT PRESENTATION,
  DESIGNING YOUR WEDDING DRESS, SEWING YOUR CURTAINS, LANDSCAPING YOUR BACKYARD,
  CLEANING YOUR WINDOWS, POLISHING YOUR SILVERWARE, DRIVING YOUR HUSBAND TO THE AIRPORT
  DOING YOUR TAX RETURNS, TRANSLATING A LETTER FROM KOREAN . . .
  </label>
  </div>
    <div class="form-group">
      <button type="button" class="btn btn-default">Visitor</button><br>
      <button type="button" class="btn btn-default">Login</button><br>
  </div>
    <br>
    <br>
    <br>

    <label><h1>NEW PROVIDER</h1></label>
    <br>
    <div class="col-xs-5">
    <label>IF YOU CAN HELP BUILDING A DECK, CREATING A POWER POINT PRESENTATION,
  DESIGNING WEDDING DRESS, SEWING CURTAINS, LANDSCAPING BACKYARD,
  CLEANING WINDOWS, POLISHING SILVERWARE, DRIVING SOMEBODY TO THE AIRPORT,
  DOING TAX RETURNS, TRANSLATING A LETTER FROM KOREAN . . .</label>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default">Login</button><br>
      <button type="button" class="btn btn-default">Register</button><br>
    </div>


</form>
