
<!--<h1>A Greeting for You! If you see me, I am alive!</h1>-->
<div class="well well-lg col-xs-7 center">
<form role="form" style="text-align: center;">
    <label class="col-xs-12 hand-head"><h1>NEED A HAND</h1></label>
    <br>
    <div class="col-xs-6 col-xs-offset-1">
    <label class="label-desc">IF YOU NEED HELP BUILDING YOUR DECK, CREATING A POWER POINT PRESENTATION,
  DESIGNING YOUR WEDDING DRESS, SEWING YOUR CURTAINS, LANDSCAPING YOUR BACKYARD,
  CLEANING YOUR WINDOWS, POLISHING YOUR SILVERWARE, DRIVING YOUR HUSBAND TO THE AIRPORT
  DOING YOUR TAX RETURNS, TRANSLATING A LETTER FROM KOREAN . . .
  </label>
    </div>
      <div class="form-group col-xs-12">
        <button type="button" class=" btn btn-custom btn-rnd">Visitor</button><br>
        <button type="button" class="btn btn-custom btn-rnd">Login</button><br>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <label class="col-xs-12 prov-head"><h1>NEW PROVIDER</h1></label>
    <br>
    <div class="col-xs-6 col-xs-offset-1">
    <label class="label-desc">IF YOU CAN HELP BUILDING A DECK, CREATING A POWER POINT PRESENTATION,
  DESIGNING WEDDING DRESS, SEWING CURTAINS, LANDSCAPING BACKYARD,
  CLEANING WINDOWS, POLISHING SILVERWARE, DRIVING SOMEBODY TO THE AIRPORT,
  DOING TAX RETURNS, TRANSLATING A LETTER FROM KOREAN . . .</label>
    </div>
    <div class="form-group col-xs-12">
      <button type="button" class="btn btn-custom btn-rnd">Login</button><br>
      <button type="button" class="btn btn-custom btn-rnd">Register</button><br>
    </div>


</form>
</div>
