development:
  adapter: postgresql
  host: localhost
  database: handcoop_development
  username: postgres
  password: Handcodb
  pool:     5
test:
  adapter: postgresql
  database: something_test
  pool: 5
  timeout: 5000

production:
  adapter: postgresql
  host: localhost
  username: handcodb
  password: 
  pool:     5
  database: handcoop_production
