<!DOCTYPE html>
<html>
<head>
  <title>HandCoOp: If you see me, I am alive!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="vendor/assets/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="vendor/assets/javascripts/bootstrap.js"></script>


  <link rel="stylesheet" type="text/css" href="/vendor/assets/stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="/vendor/assets/stylesheets/bootstrap-theme.css.map">
  <link rel="stylesheet" type="text/css" href="/vendor/assets/stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/assets/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/vendor/assets/stylesheets/bootstrap.css.map">
  <link rel="stylesheet" type="text/css" href="/vendor/assets/stylesheets/bootstrap.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
